{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-index text-white text-center py-4">
  <div class="container d-flex align-items-center flex-column pt-2">
    <h2>Movies Store</h2>
    <p>Your Ticket to Unlimited Entertainment!</p>
  </div>
</header>
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto text-center mb-3">
        <h4>Dive into a universe of movies where every genre, era, and mood is just a click away.
            <br>From heartwarming dramas to edge-of-your-seat thrillers, we’ve got it all. </br>
            </h4>
      <h2>New Releases:</h2>
        <hr />
      <div class="row">
           {% for movie in template_data.movies|slice:":4" %}
      <div class="col-md-4 col-lg-3 mb-2">
        <div class="p-2 card align-items-center pt-4">
          <img src="{{ movie.image.url }}" class="card-img-top rounded img-card-200">
          <div class="card-body text-center">
            <a href="{% url 'movies.show' id=movie.id %}" class="btn bg-dark text-white">
              {{ movie.name }}
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
      </div>
    </div>
  </div>
</div>
        <div style="height: 300px">
    </div>
{% endblock content %}