{% extends 'base.html' %}
{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body">
              <h1>Thank you</h1>

              <p>You should have reset your password if you had an accound under that username, and now you can re-sign in.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}