<div class="col-md-6 mx-auto mb-3">
<h2>{{ template_data.movie.name }}</h2>
<hr />
<p><b>Description:</b> {{template_data.movie.description}}</p>
<p><b>Price:</b> ${{template_data.movie.price }}</p>
    </div>
<div class="col-md-6 mx-auto mb-3 text-center">
<img src="{{ template_data.movie.image.url }}"
class="rounded img-card-400" />
</div>

<p><b>Price:</b> ${{ template_data.movie.price }}
</p>
<h2>Reviews</h2>
<hr />
<ul class="list-group">
{% for review in template_data.reviews %}
<li class="list-group-item pb-3 pt-3">
<h5 class="card-title">
Review by {{ review.user.username }}
</h5>
<h6 class="card-subtitle mb-2 text-muted">
{{ review.date }}
</h6>
<p class="card-text">{{ review.comment }}</p>
</li>
{% endfor %}
</ul>
