.bg-index {
  background: url("/static/img/background.jpg") no-repeat fixed;
  background-size: 100% auto;
}
.navbar a.nav-link {
  color: #FFFEF6 !important;
}
.bg-dark {
  background-color: #2E2E2E !important;
}

.img-card-200 {
width: fit-content;
max-height: 200px;
}

.img-card-400 {
width: fit-content;
max-height: 400px;
}